.fa-battery-quarter {
    color: red;
}

.fa-battery-empty {
    color: red;
    animation: blinker 1s linear infinite;
}
}

.fa-battery-full {
    color: green;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}